@import "tailwindcss";

:root {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@theme {
  --color-primary: #0a76be;
  --color-secondary: #0f89d9;
  --color-tertiary: #212121;
}
